<!DOCTYPE html>
<html>
<head>
  <title>Add Marks</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Add Marks</h2>
  <form method="POST">
    Student:
    <select name="student">
      {% for s in students %}
        <option value="{{ s.id }}">{{ s.name }}</option>
      {% endfor %}
    </select><br>

    Subject:
    <select name="subject">
      {% for sub in subjects %}
        <option value="{{ sub.id }}">{{ sub.name }}</option>
      {% endfor %}
    </select><br>

    Marks: <input type="number" name="marks"><br>
    <input type="submit" value="Add Marks">
  </form>
</body>
</html>
